{% extends "layout.html" %}
{% block body %}
<div class="block1">
  <table>
    <tr>
      <td>
        <img src="/static/images/{{ actor_id }}.jpg">
      </td>
      <td>
        <h1>{{ actor.name }}</h1>
        <h2>Born: {{ actor.birth_date|datetime }}</h2>
        <p>{{ actor.bio }}</p>
        <h2>Known For</h2>
        <ul>
        {% for movie in movies %}
            <li><a href="/movie/{{ movie }}">{{ movie|replace('_',' ')|title }}</a></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>
{% endblock %}